<app-search-bar (searchTerms)='getUsers($event)'></app-search-bar>
<ag-grid-angular
    style="width: auto; height: 500px; white-space: normal;"
    class="ag-theme-balham"
    [rowHeight]="100"
    [enableSorting]="true"
    [enableFilter]="true"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    >
</ag-grid-angular>
<app-grid-paging
  [pageInfo]="pageInfo"
  [userCount]="userCount"
  (loadFirst)='getUsers($event)'
  (loadPrevious)='loadPreviousPage($event)'
  (loadNext)='loadNextPage($event)'
  >
</app-grid-paging>
